@{Layout = "/_Layout.cshtml";}

Hallo @Model.FirstName!<br>
<br>
Wir bestätigen dir hiermit deine Buchung vom @Model.BookingDate.ToString("f")<br>
<br>
Deine Buchung @(Model.PlannedDate == null ? "war spontan." : "ist für den " + Model.PlannedDate.Value.ToString("f") + " geplant.").<br>
Die Buchung ist für diesen Ort geplant: <a href="https://www.google.de/maps/place/@@@Model.BookingPositionLatitude,@Model.BookingPositionLongitude">@Model.BookingPositionLatitude,@Model.BookingPositionLongitude</a>.<br>
Den genauen Standort des Fahrzeugs erhälst du von uns 30 Minuten bevor deine Fahrt beginnen soll.<br>
<br>
Viel Spaß wünscht dir<br>
Dein eCruise-Team!