@{ Layout = "/_Layout.cshtml"; }

Hallo @Model.FirstName!<br>
<br>
Herzlich Willkommen bei eCruise.<br>
<br>
Du bist noch nicht ganz fertig mit deiner Registrierung. Um sie abzuschließen, fehlt nur noch ein kleiner Schritt:<br>
Mit einem Klick auf den folgenden Link bestätigst du deine Anmeldung:<br>
<br>
<a href="https://api.ecruise.me/v1/public/activate/@Model.Email/@Model.ActivationToken">https://api.ecruise.me/v1/public/activate/@Model.Email/@Model.ActivationToken</a><br>
<br>
Wir freuen uns auf dich!<br>
Dein eCruise-Team