@{ Layout = "/_Layout.cshtml"; }
Hallo @Model.FirstName!

Herzlich Willkommen bei eCruise.

Du bist noch nicht ganz fertig mit deiner Registrierung. Um sie abzuschließen, fehlt nur noch ein kleiner Schritt:
Mit einem Klick auf den folgenden Link bestätigst du deine Anmeldung:

<a href="https://api.ecruise.me/v1/public/activate/@Model.Email/@Model.ActivationToken">https://api.ecruise.me/v1/public/activate/@Model.Email/@Model.ActivationToken</a>

Wir freuen uns auf dich!
Dein eCruise-Team